body {
    margin: 0;
}

#person {
    text-align: center;
    margin-bottom: 80px;
}

img {
    width: 300px;
}

#projectsContainer {
    text-align: justify;
    margin: 0 80px 0 80px;
}

@media screen and (max-width: 803px) {
    #projectsContainer {
        margin: 0 40px 0 40px;
    }
}

@media screen and (max-width: 683px) {
    #projectsContainer {
        text-align: center;
    }
}

#projectsContainer:after {
  content: '';
  width: 100%; /* Ensures justification for single lines */
  display: inline-block;
}

.projectContainer {
    text-align: center;
    display: inline-block;
    min-width: 300px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 20px;
}

.projectHeading {
    font-size: x-large;
}

.projectTitle {
    font-size: large;
}
